@import '../../../../layouts/global.scss';

.customer-policy-list-box {
    @include kisure-content-layout;
    padding: 24px;

    ul.ant-skeleton-paragraph {
        padding-left: 0;
    }

    .customer-policy-list-tableInfo {
        .customer-policy-list-tableInfo-msg {
            margin-top: 24px;
            margin-bottom: 1em;
        }

        .ant-table-body td, .ant-table-body th { 
            white-space: nowrap; 
        }

        .customer-policy-list-pageInfo {
            margin-top: 24px;
        }
    }
}