@import '../../../../layouts/global.scss';
@import '../../../../components/message/message-component.scss';

.kisure-saas-customer-modal-batch-assign-content {
    margin-bottom: 8px;
    
    .ant-form-item-label {
        float: left;
        text-align: left;
    }

    .ant-row.ant-form-item {
        margin-bottom: 16px;
    }

    .kisure-message-box {
        @include message;
        margin-bottom: 20px;
    }
}

.kisure-saas-customer-modal-batch-assign-button {
    @include model-button;
}