.kisure-saas-customer-setting-market-table {

}

.market-department {
    i {
        cursor: pointer;
        color: #fc7963;
        font-size: 20px;
        margin-left: 5px;
    }
}

.kisure-saas-customer-setting-market-page {
    margin: 24px 0;
}

.kisure-saas-customer-setting-market-button {

}